/index.*
/perf.*
/lib/
node_modules/
/benchmarks/current_results.json
/examples/dist/
/docs/.vitepress/dist/
/docs/algolia-index.json

/.gitconfig
/.vscode/
/.clinic/
/coverage/
/yarn-error.log
/tsconfig.tsbuildinfo
/traceopt.txt
/v8*.log
